[data-theme="light"] {
  --thepro-useravatar-size: 140px;
  --thepro-useravatar-border: var(--thepro-theme-color-primary);
  --thepro-useravatar-border-radius: var(--thepro-theme-radius-circle, 50%);
  --thepro-useravatar-shadow: var(--thepro-theme-shadow-sm);
  --thepro-useravatar-size-large: 130px;
  --thepro-useravatar-size-medium: 120px;
  --thepro-useravatar-size-mobile: 110px;
  --thepro-useravatar-size-small: 100px;
  --thepro-useravatar-icon-color: var(--thepro-theme-color-gray-600);
  --thepro-useravatar-icon-color-hover: var(--thepro-theme-color-gray-600);
  --thepro-useravatar-icon-padding: var(--thepro-theme-spacing-3);
  --thepro-useravatar-transition: var(--thepro-theme-transition);
  /* AVATAR_ICON_TYPES.DEFAULT = 'default' */
  --thepro-useravatar-icon-type: default;
}
