// Светлая тема для CardPreview
[data-theme="light"] {
  --thepro-cardpreview-bg: var(--thepro-theme-color-bg);
  --thepro-cardpreview-border: var(--thepro-theme-color-border);
  --thepro-cardpreview-shadow: var(--thepro-theme-shadow-sm);
  --thepro-cardpreview-border-radius: var(--thepro-theme-radius-md);
  --thepro-cardpreview-border-radius-mobile: var(--thepro-theme-radius-sm);
}
