// Светлая тема для CardBody
[data-theme="light"] {
  --thepro-cardbody-bg: var(--thepro-theme-color-bg);
  --thepro-cardbody-text: var(--thepro-theme-color-text);
  --thepro-cardbody-overlay: rgba(52, 152, 219, var(--thepro-theme-opacity-medium));
  --thepro-cardbody-font-family: var(--thepro-theme-font-family-secondary);
  --thepro-cardbody-text-align: left;
}
